

@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');
/*Primary*/


:root{
    --Cyan: hsl(179,62%,43%);
    --Bright_Yellow: hsl(71,73%,54%);
    /*Neutral*/
    --Light_Gray: hsl(204,43%,93%);
    --Grayish_Blue: hsl(218,22%,67%);
}

*{
    margin:0;
    padding:0;
}
body{
    font-family:"karla",sans-serif;
    font-size: 16px;
    min-height: 100vh;
    display: flex;
    align-items: center;
    background: var(--Grayish_Blue);
}
.container{
    margin:0 auto;
    max-width:960px;
}
.wrapper{
    display:grid;
    grid-template-columns: 50% 50%;
    grid-template-areas: "a a" "b c";
    border-radius: 7px;
    background: var(--Grayish_Blue);
    overflow: hidden;
    margin:2rem 1rem;
}
.box{
    padding:40px;
}
.join{
    grid-area: a;
    background-color: var(--Light_Gray);
}
.subscription{
    grid-area: b;
    background-color: #2bb4b1;
}
.why{
    grid-area: c;
    background-color:#49bebd ;
}
h1{
    color:var(--Cyan);
    font-size: 26px;
    padding-bottom: 20px;
}
h3{
    color:var(--Bright_Yellow);
    padding-bottom: 12px;
}
.join p{
    color:var(--Grayish_Blue);
    line-height: 1.4;
}
a{
    background-color: var(--Bright_Yellow);
    display: block;
    text-align: center;
    text-decoration: none;
    color:var(--Light_Gray);
    font-size: 13px;
    padding:12px 0;
    border-radius: 7px;
    margin-top:20px;
    font-weight: 700;

}
h2{
    font-size: 20px;
    color:var(--Light_Gray);
    padding-bottom: 15px;
}
h5{
    color:var(--Light_Gray);
    display: flex;
    align-items: center;
}
h5 span.price{
    font-size: 28px;
    color:var(--Light_Gray);
    font-weight: 700;
    padding-right: 10px;
}
h5 span{
    color:var(--Light_Gray);
    font-weight: 400;
}
.subscription p{
    color:var(--Light_Gray);
    font-size:15px;
}

.why ul{
    list-style: none;

}
.why li{
    list-style: none;
    color:#FFF;
    font-size: 15px;
}
@media only screen and (max-width:450px) {
    .wrapper{
        grid-template-columns: 100%;
        grid-template-areas: "a" "b" "c";
    }
    .box{
        padding:30px;
    }
}